In [117]:
import pandas as pd
from pathlib import Path

In [118]:
# The path to our CSV file
HDI_data = Path("HDR21-22_Composite_indices_complete_time_series.csv")

# Read our HDI data into pandas
HDI_df = pd.read_csv(HDI_data)
HDI_df.head()

,iso3,country,hdicode,region,hdi_rank_2021,hdi_1990,hdi_1991,hdi_1992,hdi_1993,hdi_1994,...,mf_2012,mf_2013,mf_2014,mf_2015,mf_2016,mf_2017,mf_2018,mf_2019,mf_2020,mf_2021
0,AFG,Afghanistan,Low,SA,180.0,0.273,0.279,0.287,0.297,0.292,...,1.86,1.88,1.66,1.62,1.66,1.41,1.32,1.38,1.38,1.38
1,AGO,Angola,Medium,SSA,148.0,NaN,NaN,NaN,NaN,NaN,...,4.09,4.53,3.97,3.59,2.79,2.64,2.28,2.18,2.18,2.18
2,ALB,Albania,High,ECA,67.0,0.647,0.629,0.614,0.617,0.624,...,12.44,11.49,13.14,12.61,14.39,14.46,12.85,12.96,12.96,12.96
3,AND,Andorra,Very High,NaN,40.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ARE,United Arab Emirates,Very High,AS,26.0,0.728,0.739,0.742,0.748,0.755,...,49.56,49.68,55.49,59.76,64.95,75.61,65.97,68.95,68.95,68.95

In [119]:
# Get a list of all of our columns for easy reference
HDI_df.columns

Index(['iso3', 'country', 'hdicode', 'region', 'hdi_rank_2021', 'hdi_1990',
       'hdi_1991', 'hdi_1992', 'hdi_1993', 'hdi_1994',
       ...
       'mf_2012', 'mf_2013', 'mf_2014', 'mf_2015', 'mf_2016', 'mf_2017',
       'mf_2018', 'mf_2019', 'mf_2020', 'mf_2021'],
      dtype='object', length=1008)

In [120]:
# Extract the columns we are interested in analyzing for the HDI index table

HDI_index_df = HDI_df.loc[:, ['iso3', 'country', 'hdicode', "hdi_2011","hdi_2012",\
                                        "hdi_2013","hdi_2014","hdi_2015", "hdi_2016","hdi_2017","hdi_2018","hdi_2019","hdi_2020","hdi_2021"
                                        ]]                             

#Rename the column headers
HDI_titles= HDI_index_df.rename(columns = {"iso3": "id", 'hdicode':'HDI Code', }, inplace = True)

HDI_levels= HDI_index_df.iloc[195:199,]
HDI_regions= HDI_index_df.iloc[200:206,]
HDI_countries=HDI_index_df.iloc[0:195,]

HDI_countries

,id,country,HDI Code,hdi_2011,hdi_2012,hdi_2013,hdi_2014,hdi_2015,hdi_2016,hdi_2017,hdi_2018,hdi_2019,hdi_2020,hdi_2021
0,AFG,Afghanistan,Low,0.456,0.466,0.474,0.479,0.478,0.481,0.482,0.483,0.488,0.483,0.478
1,AGO,Angola,Medium,0.526,0.541,0.552,0.563,0.582,0.596,0.597,0.595,0.595,0.590,0.586
2,ALB,Albania,High,0.766,0.778,0.785,0.792,0.795,0.798,0.802,0.806,0.810,0.794,0.796
3,AND,Andorra,Very High,0.849,0.869,0.864,0.871,0.867,0.871,0.868,0.872,0.873,0.848,0.858
4,ARE,United Arab Emirates,Very High,0.840,0.846,0.852,0.859,0.865,0.870,0.897,0.909,0.920,0.912,0.911
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,WSM,Samoa,High,0.713,0.709,0.710,0.711,0.716,0.717,0.716,0.716,0.715,0.712,0.707
191,YEM,Yemen,Low,0.509,0.512,0.513,0.505,0.477,0.467,0.459,0.459,0.461,0.460,0.455
192,ZAF,South Africa,High,0.686,0.696,0.704,0.712,0.716,0.719,0.720,0.726,0.736,0.727,0.713
193,ZMB,Zambia,Medium,0.534,0.548,0.554,0.557,0.562,0.564,0.568,0.572,0.575,0.570,0.565
194,ZWE,Zimbabwe,Medium,0.535,0.557,0.567,0.576,0.582,0.588,0.594,0.602,0.601,0.600,0.593

In [121]:
#Remove columns that aren't needed in the levels and regions dataframes

HDI_levels_cleaned= HDI_levels.drop('HDI Code',axis=1)
HDI_levels_cleaned.rename(columns = { 'country':'HDI level', }, inplace = True)

HDI_regions_cleaned= HDI_regions.drop('HDI Code', axis=1)
HDI_regions_cleaned.rename(columns = { 'country':'region', }, inplace = True)

HDI_levels_cleaned

,id,HDI level,hdi_2011,hdi_2012,hdi_2013,hdi_2014,hdi_2015,hdi_2016,hdi_2017,hdi_2018,hdi_2019,hdi_2020,hdi_2021
195,ZZA.VHHD,Very high human development,0.872,0.875,0.881,0.886,0.889,0.892,0.895,0.898,0.902,0.895,0.896
196,ZZB.HHD,High human development,0.708,0.715,0.722,0.728,0.734,0.739,0.745,0.751,0.756,0.753,0.754
197,ZZC.MHD,Medium human development,0.594,0.602,0.609,0.618,0.627,0.636,0.640,0.643,0.645,0.642,0.636
198,ZZD.LHD,Low human development,0.484,0.489,0.495,0.501,0.506,0.510,0.514,0.518,0.522,0.519,0.518

In [122]:
# Export the HDI tables as CSV files.
HDI_countries.to_csv("csv tables/HDI_countries.csv", index=False)
HDI_regions_cleaned.to_csv("csv tables/HDI_regions.csv", index=False)
HDI_levels_cleaned.to_csv("csv tables/HDI_levels.csv", index=False)

In [123]:
# Extract the columns we are interested in analyzing for the life expectancy table

life_expectancy_df = HDI_df.loc[:,['iso3', 'country', 'hdicode',"le_2011","le_2012",\
                                        "le_2013","le_2014","le_2015", "le_2016","le_2017","le_2018","le_2019","le_2020","le_2021"
                                        ]]    

#Rename the column headers
Life_Expec_titles= life_expectancy_df.rename(columns = {"iso3": "id", 'hdicode':'HDI Code' }, inplace = True)    

le_levels= life_expectancy_df.iloc[195:199,]
le_regions= life_expectancy_df.iloc[200:206,]
le_countries=life_expectancy_df.iloc[0:195,]
                               
le_levels

,id,country,HDI Code,le_2011,le_2012,le_2013,le_2014,le_2015,le_2016,le_2017,le_2018,le_2019,le_2020,le_2021
195,ZZA.VHHD,Very high human development,NaN,78.365321,78.578754,78.822196,79.057616,79.062435,79.264933,79.428843,79.582768,79.822662,78.789745,78.521301
196,ZZB.HHD,High human development,NaN,73.940875,74.212238,74.463776,74.732246,74.944071,75.152677,75.261530,75.600606,75.785826,75.120548,74.709094
197,ZZC.MHD,Medium human development,NaN,67.047468,67.460860,67.893291,68.411503,68.895967,69.314997,69.694263,69.998178,70.219458,69.517580,67.438318
198,ZZD.LHD,Low human development,NaN,59.180994,59.569566,60.010001,60.326771,60.657080,61.064843,61.424061,61.721181,62.083426,61.675690,61.310991

In [124]:
#Remove columns that aren't needed in the levels and regions dataframes

le_levels_cleaned= le_levels.drop('HDI Code',axis=1)
le_levels_cleaned.rename(columns = { 'country':'HDI level', }, inplace = True)

le_regions_cleaned= le_regions.drop('HDI Code', axis=1)
le_regions_cleaned.rename(columns = { 'country':'region', }, inplace = True)

le_levels_cleaned

,id,HDI level,le_2011,le_2012,le_2013,le_2014,le_2015,le_2016,le_2017,le_2018,le_2019,le_2020,le_2021
195,ZZA.VHHD,Very high human development,78.365321,78.578754,78.822196,79.057616,79.062435,79.264933,79.428843,79.582768,79.822662,78.789745,78.521301
196,ZZB.HHD,High human development,73.940875,74.212238,74.463776,74.732246,74.944071,75.152677,75.261530,75.600606,75.785826,75.120548,74.709094
197,ZZC.MHD,Medium human development,67.047468,67.460860,67.893291,68.411503,68.895967,69.314997,69.694263,69.998178,70.219458,69.517580,67.438318
198,ZZD.LHD,Low human development,59.180994,59.569566,60.010001,60.326771,60.657080,61.064843,61.424061,61.721181,62.083426,61.675690,61.310991

In [125]:
# Export the life expectancy tables as CSV files.
le_countries.to_csv("csv tables/le_countries.csv", index=False)
le_regions_cleaned.to_csv("csv tables/le_regions.csv", index=False)
le_levels_cleaned.to_csv("csv tables/le_levels.csv", index=False)

In [126]:
# Extract the columns we are interested in analyzing for the expected number of school years table
expected_school_years_df = HDI_df.loc[:,['iso3', 'country', 'hdicode', "eys_2011","eys_2012",\
                                        "eys_2013","eys_2014","eys_2015", "eys_2016","eys_2017","eys_2018","eys_2019","eys_2020","eys_2021"
                                        ]]  
#Rename the column headers
eys_titles= expected_school_years_df.rename(columns = {"iso3": "id", 'hdicode':'HDI Code' }, inplace = True)    

eys_levels= expected_school_years_df.iloc[195:199,]
eys_regions= expected_school_years_df.iloc[200:206,]
eys_countries=expected_school_years_df.iloc[0:195,]
                               
eys_countries

,id,country,HDI Code,eys_2011,eys_2012,eys_2013,eys_2014,eys_2015,eys_2016,eys_2017,eys_2018,eys_2019,eys_2020,eys_2021
0,AFG,Afghanistan,Low,9.278810,9.577323,9.875836,10.174350,10.180150,10.185950,10.191750,10.197550,10.263844,10.263844,10.263844
1,AGO,Angola,Medium,9.560080,10.082500,10.604900,11.127300,11.649700,12.172090,12.172100,12.172100,12.172100,12.172100,12.172100
2,ALB,Albania,High,13.748450,14.586650,14.925640,15.252420,15.076300,14.804600,14.816130,14.695620,14.818920,14.448000,14.448000
3,AND,Andorra,Very High,11.671920,13.524016,13.138841,13.495076,13.140280,13.300239,13.046476,13.300239,13.300239,13.300239,13.300239
4,ARE,United Arab Emirates,Very High,12.827039,12.945893,13.064747,13.183602,13.302456,13.421310,14.344100,15.019120,15.694140,15.717690,15.717690
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,WSM,Samoa,High,12.232240,12.252976,12.273711,12.294447,12.315182,12.335918,12.356653,12.377389,12.398124,12.418859,12.418859
191,YEM,Yemen,Low,9.098710,9.098710,9.098710,9.098710,9.098710,9.098710,9.098710,9.098710,9.098710,9.098710,9.098710
192,ZAF,South Africa,High,13.464115,13.497650,13.748780,13.999910,14.008785,14.017660,13.791200,13.535310,13.643710,13.643710,13.643710
193,ZMB,Zambia,Medium,10.925603,10.925998,10.926392,10.926787,10.927182,10.927576,10.927971,10.928366,10.928760,10.928760,10.928760
194,ZWE,Zimbabwe,Medium,11.279378,11.450640,11.356140,11.478596,11.602372,11.727483,11.853943,11.981767,12.110969,12.110969,12.110969

In [127]:
#Remove columns that aren't needed in the levels and regions dataframes

eys_levels_cleaned= eys_levels.drop('HDI Code',axis=1)
eys_levels_cleaned.rename(columns = { 'country':'HDI level', }, inplace = True)

eys_regions_cleaned= eys_regions.drop('HDI Code', axis=1)
eys_regions_cleaned.rename(columns = { 'country':'region', }, inplace = True)

eys_regions_cleaned

,id,region,eys_2011,eys_2012,eys_2013,eys_2014,eys_2015,eys_2016,eys_2017,eys_2018,eys_2019,eys_2020,eys_2021
200,ZZF.EAP,East Asia and the Pacific,12.451746,12.653346,12.816409,13.053302,13.240658,13.379431,13.564312,13.670623,13.844319,13.818432,13.816818
201,ZZG.ECA,Europe and Central Asia,13.569700,13.711788,14.471022,14.684491,14.864545,15.053858,15.215847,15.325361,15.448650,15.455550,15.446546
202,ZZH.LAC,Latin America and the Caribbean,13.755854,13.809491,14.350104,14.432253,14.482245,14.628358,14.654710,14.754893,14.777329,14.770758,14.767956
203,ZZI.SA,South Asia,10.665025,10.919139,10.963109,11.256614,11.380238,11.731247,11.616882,11.455094,11.279929,11.568208,11.562208
204,ZZJ.SSA,Sub-Saharan Africa,9.460569,9.546207,9.690278,9.793646,9.894703,9.981369,10.038363,10.132258,10.253713,10.272845,10.267338
205,ZZK.WORLD,World,11.958706,12.106047,12.258803,12.419588,12.526893,12.690418,12.708571,12.712662,12.731804,12.798925,12.780907

In [128]:
# Export the life expectancy tables as CSV files.
eys_countries.to_csv("csv tables/eys_countries.csv", index=False)
eys_regions_cleaned.to_csv("csv tables/eys_regions.csv", index=False)
eys_levels_cleaned.to_csv("csv tables/eys_levels.csv", index=False)

In [129]:
# Extract the columns we are interested in analyzing for the mean number of school years table
                                                      
mean_school_years_df = HDI_df.loc[:,['iso3', 'country', 'hdicode',"mys_2011","mys_2012",\
                                        "mys_2013","mys_2014","mys_2015", "mys_2016","mys_2017","mys_2018","mys_2019","mys_2020","mys_2021"
                                        ]] 

#Rename the column headers
mys_titles= mean_school_years_df.rename(columns = {"iso3": "id", 'hdicode':'HDI Code' }, inplace = True) 

mys_levels= mean_school_years_df.iloc[195:199,]
mys_regions= mean_school_years_df.iloc[200:206,]
mys_countries=mean_school_years_df.iloc[0:195,]
                               
mys_countries

,id,country,HDI Code,mys_2011,mys_2012,mys_2013,mys_2014,mys_2015,mys_2016,mys_2017,mys_2018,mys_2019,mys_2020,mys_2021
0,AFG,Afghanistan,Low,2.157332,2.209473,2.261614,2.313755,2.365896,2.463660,2.561425,2.659189,2.756953,2.854718,2.985070
1,AGO,Angola,Medium,3.869118,3.909642,3.950166,3.990690,4.704040,5.417391,5.417391,5.417391,5.417391,5.417391,5.417391
2,ALB,Albania,High,9.801700,10.025110,10.196281,10.370374,10.547439,10.727528,10.910692,11.096983,11.286455,11.286455,11.286455
3,AND,Andorra,Very High,10.558107,10.587085,10.616062,10.645040,10.573280,10.556100,10.555773,10.555446,10.555120,10.555120,10.555120
4,ARE,United Arab Emirates,Very High,10.001802,10.169965,10.338129,10.506293,10.674456,10.842620,12.055400,12.484000,12.694030,12.694030,12.694030
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,WSM,Samoa,High,11.679870,11.649195,11.618521,11.587846,11.557172,11.526498,11.495823,11.465149,11.434474,11.403800,11.403800
191,YEM,Yemen,Low,2.800000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.200000,3.200000,3.200000,3.200000
192,ZAF,South Africa,High,9.693720,9.934320,10.040185,10.146050,10.233580,10.187880,10.142180,10.757670,11.373160,11.373160,11.373160
193,ZMB,Zambia,Medium,6.390441,6.461297,6.532153,6.603009,6.673865,6.802171,6.930478,7.058785,7.187091,7.187091,7.187091
194,ZWE,Zimbabwe,Medium,7.767883,7.869400,7.990935,8.112470,8.228876,8.345283,8.461690,8.585395,8.710909,8.710909,8.710909

In [130]:
#Remove columns that aren't needed in the levels and regions dataframes

mys_levels_cleaned= mys_levels.drop('HDI Code',axis=1)
mys_levels_cleaned.rename(columns = { 'country':'HDI level', }, inplace = True)

mys_regions_cleaned= mys_regions.drop('HDI Code', axis=1)
mys_regions_cleaned.rename(columns = { 'country':'region', }, inplace = True)

mys_regions_cleaned

,id,region,mys_2011,mys_2012,mys_2013,mys_2014,mys_2015,mys_2016,mys_2017,mys_2018,mys_2019,mys_2020,mys_2021
200,ZZF.EAP,East Asia and the Pacific,7.032914,7.130260,7.228009,7.317599,7.409796,7.497074,7.583667,7.687781,7.814256,7.837973,7.839329
201,ZZG.ECA,Europe and Central Asia,9.949724,10.012632,10.075952,10.147717,10.209872,10.312125,10.383680,10.464875,10.558592,10.560785,10.553922
202,ZZH.LAC,Latin America and the Caribbean,7.929881,8.107920,8.175572,8.277193,8.392843,8.563354,8.686376,8.823468,8.961853,9.002488,8.997700
203,ZZI.SA,South Asia,5.478807,5.679543,5.860110,6.072120,6.322118,6.416901,6.509208,6.575295,6.643786,6.713272,6.710321
204,ZZJ.SSA,Sub-Saharan Africa,5.014953,5.120678,5.232873,5.330749,5.458183,5.593757,5.703195,5.871269,6.022655,6.013024,6.001639
205,ZZK.WORLD,World,7.872439,7.981302,8.069451,8.166999,8.278372,8.360727,8.439513,8.520606,8.612013,8.635057,8.617461

In [131]:
# Export the life expectancy tables as CSV files.
mys_countries.to_csv("csv tables/mys_countries.csv", index=False)
mys_regions_cleaned.to_csv("csv tables/mys_regions.csv", index=False)
mys_levels_cleaned.to_csv("csv tables/mys_levels.csv", index=False)

In [132]:
# Extract the columns we are interested in analyzing for the Gross National Income (Per Capita) table                        
                               
GNI_df = HDI_df.loc[:,['iso3', 'country', 'hdicode',"gnipc_2011","gnipc_2012", "gnipc_2013","gnipc_2014","gnipc_2015", "gnipc_2016",\
                                        "gnipc_2017","gnipc_2018","gnipc_2019","gnipc_2020","gnipc_2021"
                                        ]]  
#Rename the column headers
GNI_titles= GNI_df.rename(columns = {"iso3": "id", 'hdicode':'HDI Code' }, inplace = True) 

GNI_levels= GNI_df.iloc[195:199,]
GNI_regions= GNI_df.iloc[200:206,]
GNI_countries=GNI_df.iloc[0:195,]
                               
GNI_countries

,id,country,HDI Code,gnipc_2011,gnipc_2012,gnipc_2013,gnipc_2014,gnipc_2015,gnipc_2016,gnipc_2017,gnipc_2018,gnipc_2019,gnipc_2020,gnipc_2021
0,AFG,Afghanistan,Low,1999.653042,2125.862821,2193.553936,2178.507021,2101.589319,2077.566899,2085.487571,2054.939895,2097.889450,1997.852149,1824.190915
1,AGO,Angola,Medium,6885.536390,7280.845666,7478.104777,7704.231949,7652.656486,7189.426672,6861.575738,6381.521946,6082.746624,5593.142060,5465.617791
2,ALB,Albania,High,11056.645170,11146.263030,11552.982470,11691.648290,12016.297600,12484.624200,12802.148310,13302.705960,13485.311240,12996.762910,14131.110390
3,AND,Andorra,Very High,48812.029030,47126.814610,46385.095200,48483.720320,49936.874540,52267.738320,52650.225760,53483.306630,54465.047400,47878.666640,51166.626610
4,ARE,United Arab Emirates,Very High,56152.064670,57445.954750,60005.695360,62573.505310,65577.512240,66881.329740,67667.508460,67195.095230,68590.900940,63016.401220,62573.591810
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,WSM,Samoa,High,5959.794044,5683.651395,5675.889504,5757.486050,6222.783552,6401.830980,6287.673021,6280.573936,6356.988690,5812.868328,5307.953374
191,YEM,Yemen,Low,3161.129536,3152.900024,3212.651579,2775.842952,1785.788608,1494.230811,1302.425254,1341.656234,1349.567046,1370.601082,1314.270189
192,ZAF,South Africa,High,13514.303610,13602.253520,13732.252520,13700.834560,13694.728110,13545.358590,13475.988210,13491.221790,13366.474640,12449.671040,12948.373250
193,ZMB,Zambia,Medium,2873.031079,3333.576512,3389.478940,3263.039162,3403.471444,3237.505650,3330.552717,3418.096158,3365.410652,3178.619722,3217.767739
194,ZWE,Zimbabwe,Medium,3154.375903,3618.629526,3632.111591,3644.856047,3638.532892,3606.750671,3728.918785,3864.012419,3674.564482,3654.289051,3809.887158

In [133]:
#Remove columns that aren't needed in the levels and regions dataframes

GNI_levels_cleaned= GNI_levels.drop('HDI Code',axis=1)
GNI_levels_cleaned.rename(columns = { 'country':'HDI level', }, inplace = True)

GNI_regions_cleaned= GNI_regions.drop('HDI Code', axis=1)
GNI_regions_cleaned.rename(columns = { 'country':'region', }, inplace = True)

GNI_regions_cleaned

,id,region,gnipc_2011,gnipc_2012,gnipc_2013,gnipc_2014,gnipc_2015,gnipc_2016,gnipc_2017,gnipc_2018,gnipc_2019,gnipc_2020,gnipc_2021
200,ZZF.EAP,East Asia and the Pacific,9357.723849,9991.529671,10546.687820,11238.994920,11805.220660,12462.294840,13202.097320,13904.115010,14621.334280,14622.636100,15580.436860
201,ZZG.ECA,Europe and Central Asia,14627.696450,15161.409430,15938.934860,16281.686290,16663.665280,16729.093930,17400.712950,17861.288800,18027.109590,18031.677820,19351.837020
202,ZZH.LAC,Latin America and the Caribbean,14908.241600,15182.341940,15491.849890,15516.666970,15441.823600,15116.509200,15126.067180,15057.394300,14895.531640,13727.003200,14520.661240
203,ZZI.SA,South Asia,4635.989136,4741.289840,4923.642694,5183.331005,5449.187212,5789.022974,6116.711799,6355.589677,6471.972919,6077.350961,6481.393135
204,ZZJ.SSA,Sub-Saharan Africa,3482.800168,3551.647275,3639.137221,3763.856396,3803.834306,3772.922733,3754.362823,3755.151307,3778.105787,3629.618138,3698.868914
205,ZZK.WORLD,World,14069.219100,14356.941280,14627.803080,14985.568050,15326.548030,15614.118750,16022.410060,16372.224530,16652.533510,15963.888970,16752.082920

In [134]:
# Export the GNI tables as CSV files.
GNI_countries.to_csv("csv tables/GNI_countries.csv", index=False)
GNI_regions_cleaned.to_csv("csv tables/GNI_regions.csv", index=False)
GNI_levels_cleaned.to_csv("csv tables/GNI_levels.csv", index=False)

In [135]:
# Extract the columns we are interested in analyzing for the IHDI table for year 2021 only

                               
IHDI_df = HDI_df.loc[:,['iso3', 'country', 'hdicode', 'coef_ineq_2021','loss_2021','ineq_le_2021','ineq_edu_2021','ineq_inc_2021'
                                        ]]  

IHDI_Renamed_df = IHDI_df.rename(columns= {"iso3": "id", "hdicode": "HDI Code", "coef_ineq_2021": "Coefficient of Human Inequality",
                    'loss_2021':'Overall loss (%)','ineq_le_2021': 'Inequality in life expectancy','ineq_edu_2021': 'Inequality in eduation',
                    'ineq_inc_2021':'Inequality in income'
                                     })

IHDI_levels= IHDI_Renamed_df.iloc[195:199,]
IHDI_regions= IHDI_Renamed_df.iloc[200:206,]
IHDI_countries=IHDI_Renamed_df.iloc[0:195,]
                               
IHDI_countries

,id,country,HDI Code,Coefficient of Human Inequality,Overall loss (%),Inequality in life expectancy,Inequality in eduation,Inequality in income
0,AFG,Afghanistan,Low,NaN,NaN,26.165367,45.365170,NaN
1,AGO,Angola,Medium,30.412168,30.546075,28.187733,34.171440,28.87733
2,ALB,Albania,High,10.767685,10.804020,6.790635,12.333440,13.17898
3,AND,Andorra,Very High,NaN,NaN,5.297910,10.008154,NaN
4,ARE,United Arab Emirates,Very High,NaN,NaN,4.524926,12.634355,NaN
...,...,...,...,...,...,...,...,...
190,WSM,Samoa,High,13.106588,13.295615,10.419724,7.029960,21.87008
191,YEM,Yemen,Low,31.543484,32.527473,26.689573,46.137650,21.80323
192,ZAF,South Africa,High,31.051127,33.941094,18.863251,17.294130,56.99600
193,ZMB,Zambia,Medium,30.109645,30.973451,25.052994,20.435720,44.84022
194,ZWE,Zimbabwe,Medium,22.470850,22.765599,24.038509,14.605030,28.76901

In [136]:
#Remove columns that aren't needed in the levels and regions dataframes

IHDI_levels_cleaned= IHDI_levels.drop('HDI Code',axis=1)
IHDI_levels_cleaned.rename(columns = { 'country':'HDI level', }, inplace = True)

IHDI_regions_cleaned= IHDI_regions.drop('HDI Code', axis=1)
IHDI_regions_cleaned.rename(columns = { 'country':'region', }, inplace = True)

IHDI_regions_cleaned

,id,region,Coefficient of Human Inequality,Overall loss (%),Inequality in life expectancy,Inequality in eduation,Inequality in income
200,ZZF.EAP,East Asia and the Pacific,15.537360,15.887850,7.880201,13.361987,25.369893
201,ZZG.ECA,Europe and Central Asia,10.277559,10.301508,7.317009,6.966866,16.548802
202,ZZH.LAC,Latin America and the Caribbean,19.608799,20.291777,10.093223,14.802601,33.930573
203,ZZI.SA,South Asia,24.251594,24.683544,17.637374,36.242215,18.875191
204,ZZJ.SSA,Sub-Saharan Africa,29.903424,29.981718,28.309306,34.266790,27.134176
205,ZZK.WORLD,World,19.358854,19.398907,13.182837,21.693417,23.200307

In [137]:
# Export the IHDI tables as CSV files.
IHDI_countries.to_csv("csv tables/IHDI_countries.csv", index=False)
IHDI_regions_cleaned.to_csv("csv tables/IHDI_regions.csv", index=False)
IHDI_levels_cleaned.to_csv("csv tables/IHDI_levels.csv", index=False)

In [138]:
# Extract the columns we are interested in analyzing for the GII table for 2021 only   

GII_df = HDI_df.loc[:,['iso3', 'country', 'hdicode', 'gii_rank_2021', 'gii_2021', 'mmr_2021', 'abr_2021',\
                    'se_f_2021', 'se_m_2021', 'pr_f_2021','pr_m_2021','lfpr_f_2021','lfpr_m_2021'
                                        ]]  

GII_Renamed_df= GII_df.rename(columns= {'iso3': "id", 'hdicode': 'HDI Code', 'gii_rank_2021': "GII Rank", 'gii_2021': 'Gender Inequality Index',
                                        'mmr_2021': 'Maternal Mortality Ratio (deaths per 100,000 live births)',
                                        'abr_2021': 'Adolescent Birth Rate (births per 1,000 women ages 15-19)',
                                        'se_f_2021': 'Population with at least some secondary education, female (% ages 25 and older)',
                                        'se_m_2021': 'Population with at least some secondary education, male (% ages 25 and older)',
                                        'pr_f_2021': 'Share of seats in parliament, female (% held by women)',
                                        'pr_m_2021': 'Share of seats in parliament, male (% held by men)',
                                        'lfpr_f_2021': 'Labour force participation rate, female (% ages 15 and older)',
                                        'lfpr_m_2021': 'Labour force participation rate, male (% ages 15 and older'})

GII_levels= GII_Renamed_df.iloc[195:199,]
GII_regions= GII_Renamed_df.iloc[200:206,]
GII_countries=GII_Renamed_df.iloc[0:195,]
                               
GII_countries

,id,country,HDI Code,GII Rank,Gender Inequality Index,"Maternal Mortality Ratio (deaths per 100,000 live births)","Adolescent Birth Rate (births per 1,000 women ages 15-19)","Population with at least some secondary education, female (% ages 25 and older)","Population with at least some secondary education, male (% ages 25 and older)","Share of seats in parliament, female (% held by women)","Share of seats in parliament, male (% held by men)","Labour force participation rate, female (% ages 15 and older)","Labour force participation rate, male (% ages 15 and older"
0,AFG,Afghanistan,Low,167.0,0.678,638.0,82.565,6.395730,14.865710,27.215190,72.784810,14.848,66.515
1,AGO,Angola,Medium,136.0,0.537,241.0,138.402,28.163900,51.546170,29.545455,70.454545,73.968,79.071
2,ALB,Albania,High,39.0,0.144,15.0,14.517,95.387505,93.038415,35.714286,64.285714,50.733,66.154
3,AND,Andorra,Very High,NaN,NaN,NaN,5.887,70.665854,72.422097,46.428571,53.571429,NaN,NaN
4,ARE,United Arab Emirates,Very High,11.0,0.049,3.0,3.085,81.997002,85.596741,50.000000,50.000000,46.542,88.003
...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,WSM,Samoa,High,99.0,0.418,43.0,43.589,79.127486,71.582922,7.843137,92.156863,30.700,54.237
191,YEM,Yemen,Low,170.0,0.820,164.0,54.404,22.440000,37.520000,0.294118,99.705882,5.995,67.637
192,ZAF,South Africa,High,97.0,0.405,119.0,61.206,68.897713,87.666222,45.982143,54.017857,46.212,59.883
193,ZMB,Zambia,Medium,138.0,0.540,213.0,117.017,47.104201,56.811897,15.060241,84.939759,69.230,77.847
194,ZWE,Zimbabwe,Medium,134.0,0.532,458.0,94.312,61.768211,72.444503,34.571429,65.428571,79.308,88.933

In [139]:
#Remove columns that aren't needed in the levels and regions dataframes

GII_levels_cleaned= GII_levels.drop('HDI Code',axis=1)
GII_levels_cleaned= GII_levels_cleaned.drop('GII Rank',axis=1)
GII_levels_cleaned.rename(columns = { 'country':'HDI level', }, inplace = True)

GII_regions_cleaned= GII_regions.drop('HDI Code', axis=1)
GII_regions_cleaned= GII_regions_cleaned.drop('GII Rank', axis=1)
GII_regions_cleaned.rename(columns = { 'country':'region', }, inplace = True)

GII_regions_cleaned

,id,region,Gender Inequality Index,"Maternal Mortality Ratio (deaths per 100,000 live births)","Adolescent Birth Rate (births per 1,000 women ages 15-19)","Population with at least some secondary education, female (% ages 25 and older)","Population with at least some secondary education, male (% ages 25 and older)","Share of seats in parliament, female (% held by women)","Share of seats in parliament, male (% held by men)","Labour force participation rate, female (% ages 15 and older)","Labour force participation rate, male (% ages 15 and older"
200,ZZF.EAP,East Asia and the Pacific,0.337,81.933029,21.580682,71.432005,78.217123,20.930270,79.069730,59.704198,75.209126
201,ZZG.ECA,Europe and Central Asia,0.227,20.275766,20.131623,83.352395,89.748839,26.070039,73.929961,42.926377,67.038752
202,ZZH.LAC,Latin America and the Caribbean,0.381,75.030838,53.389333,63.160863,63.171381,33.200637,66.799363,48.630181,72.656571
203,ZZI.SA,South Asia,0.508,153.268313,28.937075,42.188378,52.817241,17.577855,82.422145,21.594128,71.585599
204,ZZJ.SSA,Sub-Saharan Africa,0.569,535.658813,100.877877,31.147249,44.269573,25.715752,74.284248,62.144428,72.253662
205,ZZK.WORLD,World,0.465,225.406503,42.529066,64.154258,70.316516,25.913372,74.086628,46.200447,71.691740

In [140]:
# Export the GII tables as CSV files.
GII_countries.to_csv("csv tables/GII_countries.csv", index=False)
GII_regions_cleaned.to_csv("csv tables/GII_regions.csv", index=False)
GII_levels_cleaned.to_csv("csv tables/GII_levels.csv", index=False)

In [141]:
# Extract the columns we are interested in analyzing for the HDI index table

IHDI_index_df = HDI_df.loc[:, ['iso3', 'country', 'hdicode', "ihdi_2011","ihdi_2012",\
                                        "ihdi_2013","ihdi_2014","ihdi_2015", "ihdi_2016","ihdi_2017","ihdi_2018","ihdi_2019","ihdi_2020","ihdi_2021"
                                        ]]                             

#Rename the column headers
IHDI_titles= HDI_index_df.rename(columns = {"iso3": "id" }, inplace = True)

IHDI_index_levels= IHDI_index_df.iloc[195:199,]
IHDI_index_regions= IHDI_index_df.iloc[200:206,]
IHDI_index_countries= IHDI_index_df.iloc[0:195,]

IHDI_index_countries

,iso3,country,hdicode,ihdi_2011,ihdi_2012,ihdi_2013,ihdi_2014,ihdi_2015,ihdi_2016,ihdi_2017,ihdi_2018,ihdi_2019,ihdi_2020,ihdi_2021
0,AFG,Afghanistan,Low,0.315,0.323,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AGO,Angola,Medium,NaN,NaN,NaN,NaN,0.395,0.407,0.409,0.410,0.410,0.409,0.407
2,ALB,Albania,High,0.669,0.696,0.704,0.711,0.714,0.717,0.720,0.720,0.724,0.709,0.710
3,AND,Andorra,Very High,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ARE,United Arab Emirates,Very High,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,WSM,Samoa,High,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.617,0.613
191,YEM,Yemen,Low,0.343,0.345,0.349,0.343,0.323,0.316,0.311,0.310,0.311,0.312,0.307
192,ZAF,South Africa,High,NaN,0.465,0.470,0.476,0.479,0.477,0.477,0.479,0.485,0.485,0.471
193,ZMB,Zambia,Medium,0.359,0.369,0.375,0.368,0.372,0.374,0.377,0.391,0.393,0.391,0.390
194,ZWE,Zimbabwe,Medium,0.381,0.400,0.410,0.420,0.445,0.450,0.456,0.463,0.463,0.463,0.458

In [142]:
#Remove columns that aren't needed in the levels and regions dataframes

IHDI_level_index_cleaned= IHDI_index_levels.drop('hdicode', axis=1)
IHDI_level_index_cleaned.rename(columns = { 'country':'HDI level', }, inplace = True)

IHDI_regions_index_cleaned= IHDI_index_regions.drop('hdicode', axis=1)
IHDI_regions_index_cleaned.rename(columns = { 'country':'region', }, inplace = True)

IHDI_level_index_cleaned

,iso3,HDI level,ihdi_2011,ihdi_2012,ihdi_2013,ihdi_2014,ihdi_2015,ihdi_2016,ihdi_2017,ihdi_2018,ihdi_2019,ihdi_2020,ihdi_2021
195,ZZA.VHHD,Very high human development,0.776,0.780,0.786,0.787,0.791,0.795,0.798,0.802,0.807,0.804,0.805
196,ZZB.HHD,High human development,0.580,0.591,0.593,0.599,0.605,0.611,0.616,0.622,0.627,0.626,0.627
197,ZZC.MHD,Medium human development,0.427,0.435,0.441,0.452,0.466,0.473,0.477,0.482,0.486,0.485,0.481
198,ZZD.LHD,Low human development,0.327,0.331,0.336,0.341,0.344,0.349,0.352,0.355,0.359,0.359,0.359

In [143]:
# Export the IHDI tables as CSV files.
IHDI_index_countries.to_csv("csv tables/IHDI_index_countries.csv", index=False)
IHDI_regions_cleaned.to_csv("csv tables/IHDI_regions_index.csv", index=False)
IHDI_levels_cleaned.to_csv("csv tables/IHDI_levels_index.csv", index=False)

In [144]:
# Extract the columns we are interested in analyzing for the HDI index table

gender_GDI_df = HDI_df.loc[:, ['iso3', 'country', 'gdi_group_2021', 'gdi_2021', 'hdi_f_2021', 'le_f_2021', 'eys_f_2021',\
                                'mys_f_2021', 'gni_pc_f_2021','hdi_m_2021', 'le_m_2021', 'eys_m_2021',\
                                'mys_m_2021', 'gni_pc_m_2021'                                      ]]                             

#Rename the column headers
Gender_GDI= gender_GDI_df.rename(columns = {"iso3": "id" ,                                           
    'gdi_group_2021': 'GDI Group',
	'gdi_2021' :'Gender Development Index (value)'	,
	'hdi_f_2021': 'HDI female',
    'le_f_2021' : 'Life Expectancy at Birth, female (years)',
	'eys_f_2021' : 'Expected Years of Schooling, female (years)',
	'mys_f_2021': 'Mean Years of Schooling, female (years)',
	'gni_pc_f_2021': 'Gross National Income Per Capita, female (2017 PPP$)',
	'hdi_m_2021' : 'HDI male',
	'le_m_2021': 'Life Expectancy at Birth, male (years)',
    'eys_m_2021': 'Expected Years of Schooling, male (years)',	
	'mys_m_2021': 'Mean Years of Schooling, male (years)',
    'gni_pc_m_2021': 'Gross National Income Per Capita, male (2017 PPP$)'
                                             }, inplace = True)

gender_levels= gender_GDI_df.iloc[195:199,]
gender_regions= gender_GDI_df.iloc[200:206,]
gender_countries= gender_GDI_df.iloc[0:195,]

gender_levels

,id,country,GDI Group,Gender Development Index (value),HDI female,"Life Expectancy at Birth, female (years)","Expected Years of Schooling, female (years)","Mean Years of Schooling, female (years)","Gross National Income Per Capita, female (2017 PPP$)",HDI male,"Life Expectancy at Birth, male (years)","Expected Years of Schooling, male (years)","Mean Years of Schooling, male (years)","Gross National Income Per Capita, male (2017 PPP$)"
195,ZZA.VHHD,Very high human development,NaN,0.986,0.888622,81.608231,16.885169,12.240306,33849.413110,0.901088,75.556976,16.147255,12.410001,53887.160750
196,ZZB.HHD,High human development,NaN,0.973,0.742402,77.693402,14.587980,8.130882,11187.223590,0.762761,71.913175,13.847510,8.507729,19089.439150
197,ZZC.MHD,Medium human development,NaN,0.880,0.586242,69.386887,11.992916,6.459155,2912.272279,0.666038,65.648410,11.905646,7.407130,9668.208376
198,ZZD.LHD,Low human development,NaN,0.864,0.476586,63.425578,9.030996,4.056868,1906.654629,0.551873,59.301005,9.920016,5.704288,4107.402834

In [145]:
#Remove columns that aren't needed in the levels and regions dataframes

gender_level_cleaned= gender_levels.drop("GDI Group", axis=1)
gender_level_cleaned.rename(columns = { 'country':'HDI level', }, inplace = True)

gender_regions_cleaned= gender_regions.drop("GDI Group", axis=1)
gender_regions_cleaned.rename(columns = { 'country':'region', }, inplace = True)

gender_regions_cleaned

,id,region,Gender Development Index (value),HDI female,"Life Expectancy at Birth, female (years)","Expected Years of Schooling, female (years)","Mean Years of Schooling, female (years)","Gross National Income Per Capita, female (2017 PPP$)",HDI male,"Life Expectancy at Birth, male (years)","Expected Years of Schooling, male (years)","Mean Years of Schooling, male (years)","Gross National Income Per Capita, male (2017 PPP$)"
200,ZZF.EAP,East Asia and the Pacific,0.978,0.740122,78.479168,14.186335,7.587781,12357.404760,0.756498,72.863932,13.442985,8.092732,18711.344730
201,ZZG.ECA,Europe and Central Asia,0.961,0.778131,76.427995,15.311862,10.351608,13162.180910,0.809559,69.394808,15.584555,10.775279,25834.474760
202,ZZH.LAC,Latin America and the Caribbean,0.986,0.746796,75.646671,15.164855,9.026251,10667.406800,0.757133,68.761084,14.370557,8.965192,18485.720550
203,ZZI.SA,South Asia,0.852,0.568257,69.760419,11.512010,6.279472,2351.804366,0.666616,66.126503,11.606740,7.251328,10425.549080
204,ZZJ.SSA,Sub-Saharan Africa,0.907,0.519216,62.124062,10.012814,5.103810,2969.613374,0.572139,58.158274,10.572173,6.876032,4429.390375
205,ZZK.WORLD,World,0.958,0.715015,73.978842,12.851884,8.358083,12241.224180,0.746639,68.912899,12.714705,8.913211,21210.277680

In [146]:
# Export the IHDI tables as CSV files.
gender_countries.to_csv("csv tables/gender_countries.csv", index=False)
gender_regions_cleaned.to_csv("csv tables/gender_regions.csv", index=False)
gender_level_cleaned.to_csv("csv tables/gender_levels.csv", index=False)

In [147]:
# Extract the columns we are interested in analyzing for the HDI 2021 table

HDI_2021_df = HDI_df.loc[:, ['iso3', 'country','region', 'hdicode', 'hdi_rank_2021', "hdi_2021","le_2021",\
                                        "eys_2021","mys_2021","gnipc_2021"
                                        ]]                             

#Rename the column headers
HDI_2021_titles= HDI_2021_df.rename(columns = {"iso3": "id",
                                                'hdicode':'HDI Code',
                                                'hdi_rank_2021':'HDI Rank',
                                                'hdi_2021': 'Human Development Index 2021',
                                                'le_2021': 'Life Expectancy at Birth',
                                                'eys_2021':'Expected Years of Schooling',
                                                'mys_2021': 'Mean Years of Schooling',
                                                'gnipc_2021': 'Gross National Income Per Capita'
                                                    }, inplace = True)

HDI_2021_levels= HDI_2021_df.iloc[195:199,]
HDI_2021_regions= HDI_2021_df.iloc[200:206,]
HDI_2021_countries= HDI_2021_df.iloc[0:195,]

HDI_2021_countries

,id,country,region,HDI Code,HDI Rank,Human Development Index 2021,Life Expectancy at Birth,Expected Years of Schooling,Mean Years of Schooling,Gross National Income Per Capita
0,AFG,Afghanistan,SA,Low,180.0,0.478,61.9824,10.263844,2.985070,1824.190915
1,AGO,Angola,SSA,Medium,148.0,0.586,61.6434,12.172100,5.417391,5465.617791
2,ALB,Albania,ECA,High,67.0,0.796,76.4626,14.448000,11.286455,14131.110390
3,AND,Andorra,NaN,Very High,40.0,0.858,80.3684,13.300239,10.555120,51166.626610
4,ARE,United Arab Emirates,AS,Very High,26.0,0.911,78.7104,15.717690,12.694030,62573.591810
...,...,...,...,...,...,...,...,...,...,...
190,WSM,Samoa,EAP,High,111.0,0.707,72.7675,12.418859,11.403800,5307.953374
191,YEM,Yemen,AS,Low,183.0,0.455,63.7534,9.098710,3.200000,1314.270189
192,ZAF,South Africa,SSA,High,109.0,0.713,62.3410,13.643710,11.373160,12948.373250
193,ZMB,Zambia,SSA,Medium,154.0,0.565,61.2234,10.928760,7.187091,3217.767739
194,ZWE,Zimbabwe,SSA,Medium,146.0,0.593,59.2531,12.110969,8.710909,3809.887158

In [148]:
#Remove columns that aren't needed in the levels and regions dataframes

HDI_levels_2021_cleaned= HDI_2021_levels.drop(["HDI Rank","region","HDI Code"], axis=1)
HDI_levels_2021_cleaned.rename(columns = { 'country':'HDI level', }, inplace = True)

HDI_regions_2021_cleaned= HDI_2021_regions.drop(["HDI Rank","region","HDI Code"], axis=1)
HDI_regions_2021_cleaned.rename(columns = { 'country':'region', }, inplace = True)

HDI_levels_2021_cleaned

,id,HDI level,Human Development Index 2021,Life Expectancy at Birth,Expected Years of Schooling,Mean Years of Schooling,Gross National Income Per Capita
195,ZZA.VHHD,Very high human development,0.896,78.521301,16.506485,12.323006,43751.596460
196,ZZB.HHD,High human development,0.754,74.709094,14.219287,8.327011,15167.247710
197,ZZC.MHD,Medium human development,0.636,67.438318,11.944855,6.872257,6353.491965
198,ZZD.LHD,Low human development,0.518,61.310991,9.459357,4.860214,3009.120913

In [149]:
# Export the 2021 HDI tables as CSV files.
HDI_2021_countries.to_csv("csv tables/HDI_2021_countries.csv", index=False)
HDI_regions_2021_cleaned.to_csv("csv tables/HDI_2021_regions.csv", index=False)
HDI_levels_2021_cleaned.to_csv("csv tables/HDI_2021_levels.csv", index=False)