In [1]:
import pandas as pd
from pathlib import Path

In [2]:
# The path to our CSV file
HDI_data = Path("HDR21-22_Composite_indices_complete_time_series.csv")

# Read our HDI data into pandas
HDI_df = pd.read_csv(HDI_data)
HDI_df.head()

,iso3,country,hdicode,region,hdi_rank_2021,hdi_1990,hdi_1991,hdi_1992,hdi_1993,hdi_1994,...,mf_2012,mf_2013,mf_2014,mf_2015,mf_2016,mf_2017,mf_2018,mf_2019,mf_2020,mf_2021
0,AFG,Afghanistan,Low,SA,180.0,0.273,0.279,0.287,0.297,0.292,...,1.86,1.88,1.66,1.62,1.66,1.41,1.32,1.38,1.38,1.38
1,AGO,Angola,Medium,SSA,148.0,NaN,NaN,NaN,NaN,NaN,...,4.09,4.53,3.97,3.59,2.79,2.64,2.28,2.18,2.18,2.18
2,ALB,Albania,High,ECA,67.0,0.647,0.629,0.614,0.617,0.624,...,12.44,11.49,13.14,12.61,14.39,14.46,12.85,12.96,12.96,12.96
3,AND,Andorra,Very High,NaN,40.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ARE,United Arab Emirates,Very High,AS,26.0,0.728,0.739,0.742,0.748,0.755,...,49.56,49.68,55.49,59.76,64.95,75.61,65.97,68.95,68.95,68.95

In [3]:
# Get a list of all of our columns for easy reference
HDI_df.columns

Index(['iso3', 'country', 'hdicode', 'region', 'hdi_rank_2021', 'hdi_1990',
       'hdi_1991', 'hdi_1992', 'hdi_1993', 'hdi_1994',
       ...
       'mf_2012', 'mf_2013', 'mf_2014', 'mf_2015', 'mf_2016', 'mf_2017',
       'mf_2018', 'mf_2019', 'mf_2020', 'mf_2021'],
      dtype='object', length=1008)

In [33]:
# Extract the columns we are interested in analyzing for the HDI index table

HDI_index_df = HDI_df.loc[:, ['iso3', 'country', 'hdicode', 'region',"hdi_1990","hdi_1991","hdi_1992","hdi_1993","hdi_1994",\
                                        "hdi_1995","hdi_1996","hdi_1997","hdi_1998","hdi_1999","hdi_2000","hdi_2001","hdi_2002","hdi_2003",\
                                        "hdi_2004","hdi_2005","hdi_2006","hdi_2007","hdi_2008","hdi_2009","hdi_2010","hdi_2011","hdi_2012",\
                                        "hdi_2013","hdi_2014","hdi_2015", "hdi_2016","hdi_2017","hdi_2018","hdi_2019","hdi_2020","hdi_2021"
                                        ]]                             

#Rename the column headers
HDI_titles= HDI_index_df.rename(columns = {"iso3": "id", 'hdicode':'HDI Code', }, inplace = True)

HDI_index_df

,id,country,HDI Code,region,hdi_1990,hdi_1991,hdi_1992,hdi_1993,hdi_1994,hdi_1995,...,hdi_2012,hdi_2013,hdi_2014,hdi_2015,hdi_2016,hdi_2017,hdi_2018,hdi_2019,hdi_2020,hdi_2021
0,AFG,Afghanistan,Low,SA,0.273,0.279,0.287,0.297,0.292,0.310,...,0.466,0.474,0.479,0.478,0.481,0.482,0.483,0.488,0.483,0.478
1,AGO,Angola,Medium,SSA,NaN,NaN,NaN,NaN,NaN,NaN,...,0.541,0.552,0.563,0.582,0.596,0.597,0.595,0.595,0.590,0.586
2,ALB,Albania,High,ECA,0.647,0.629,0.614,0.617,0.624,0.634,...,0.778,0.785,0.792,0.795,0.798,0.802,0.806,0.810,0.794,0.796
3,AND,Andorra,Very High,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.869,0.864,0.871,0.867,0.871,0.868,0.872,0.873,0.848,0.858
4,ARE,United Arab Emirates,Very High,AS,0.728,0.739,0.742,0.748,0.755,0.762,...,0.846,0.852,0.859,0.865,0.870,0.897,0.909,0.920,0.912,0.911
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
201,ZZG.ECA,Europe and Central Asia,NaN,NaN,0.664,0.661,0.654,0.652,0.647,0.652,...,0.760,0.772,0.778,0.783,0.788,0.794,0.798,0.802,0.793,0.796
202,ZZH.LAC,Latin America and the Caribbean,NaN,NaN,0.633,0.638,0.643,0.648,0.654,0.658,...,0.744,0.753,0.756,0.758,0.761,0.763,0.766,0.768,0.755,0.754
203,ZZI.SA,South Asia,NaN,NaN,0.442,0.447,0.453,0.457,0.462,0.467,...,0.596,0.603,0.614,0.623,0.633,0.638,0.640,0.641,0.638,0.632
204,ZZJ.SSA,Sub-Saharan Africa,NaN,NaN,0.407,0.410,0.410,0.411,0.413,0.420,...,0.516,0.523,0.529,0.534,0.539,0.542,0.547,0.552,0.549,0.547
205,ZZK.WORLD,World,NaN,NaN,0.601,0.604,0.607,0.610,0.614,0.619,...,0.709,0.714,0.720,0.724,0.729,0.733,0.736,0.739,0.735,0.732

In [35]:
# Extract the columns we are interested in analyzing for the life expectancy table

life_expectancy_df = HDI_df.loc[:,['iso3', 'country', 'hdicode', 'region',"le_1990","le_1991","le_1992","le_1993","le_1994",\
                                        "le_1995","le_1996","le_1997","le_1998","le_1999","le_2000","le_2001","le_2002","le_2003",\
                                        "le_2004","le_2005","le_2006","le_2007","le_2008","le_2009","le_2010","le_2011","le_2012",\
                                        "le_2013","le_2014","le_2015", "le_2016","le_2017","le_2018","le_2019","le_2020","le_2021"
                                        ]]    

#Rename the column headers
Life_Expec_titles= life_expectancy_df.rename(columns = {"iso3": "id", 'hdicode':'HDI Code' }, inplace = True)                            
                               
life_expectancy_df

,id,country,HDI Code,region,le_1990,le_1991,le_1992,le_1993,le_1994,le_1995,...,le_2012,le_2013,le_2014,le_2015,le_2016,le_2017,le_2018,le_2019,le_2020,le_2021
0,AFG,Afghanistan,Low,SA,45.967200,46.663100,47.595500,51.466400,51.494500,52.544200,...,61.923000,62.416700,62.545100,62.658700,63.136100,63.016000,63.081000,63.564500,62.575100,61.982400
1,AGO,Angola,Medium,SSA,41.893300,43.812700,42.208800,42.100900,43.421700,45.849100,...,58.623100,59.307400,60.039700,60.654600,61.092300,61.679800,62.143800,62.448400,62.261200,61.643400
2,ALB,Albania,High,ECA,73.143900,73.377600,73.714800,73.939100,74.131300,74.361600,...,78.064000,78.122600,78.407500,78.644100,78.860200,79.047300,79.183800,79.282500,76.989300,76.462600
3,AND,Andorra,Very High,NaN,78.406300,77.980500,80.324100,78.663300,82.638000,78.961600,...,82.916600,82.934300,82.948300,82.953400,82.967100,82.980300,82.992300,83.003900,79.023400,80.368400
4,ARE,United Arab Emirates,Very High,AS,71.900400,72.241400,72.306200,72.521300,72.598200,72.694500,...,78.715500,78.852800,79.044200,79.223200,79.334700,79.503600,79.627400,79.726200,78.945700,78.710400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
201,ZZG.ECA,Europe and Central Asia,NaN,NaN,67.781962,67.609336,66.896095,66.718280,67.136734,67.200572,...,72.606274,72.992396,73.357649,73.681015,73.983262,74.343005,74.505959,74.700741,72.780992,72.856526
202,ZZH.LAC,Latin America and the Caribbean,NaN,NaN,67.770568,68.127209,68.458998,68.786974,69.166664,69.477508,...,74.067656,74.316945,74.521732,74.579895,74.544240,74.705572,74.823478,75.014905,73.008316,72.099890
203,ZZI.SA,South Asia,NaN,NaN,58.830494,59.102221,59.727847,60.058622,60.441754,60.791893,...,67.915940,68.395439,68.905849,69.407382,69.874722,70.245467,70.517018,70.722315,69.972908,67.855530
204,ZZJ.SSA,Sub-Saharan Africa,NaN,NaN,49.868704,49.989060,49.900445,49.817075,49.722427,50.030853,...,57.987394,58.539213,59.010080,59.428775,59.954595,60.348837,60.735440,61.120031,60.729051,60.112467
205,ZZK.WORLD,World,NaN,NaN,65.144798,65.299082,65.584015,65.753616,65.986642,66.186933,...,71.289119,71.581265,71.886202,72.111793,72.370895,72.568952,72.816114,73.012099,72.257297,71.365465

In [12]:
# Extract the columns we are interested in analyzing for the expected number of school years table
expected_school_years_df = HDI_df.loc[:,['iso3', 'country', 'hdicode', 'region',"eys_1990","eys_1991","eys_1992","eys_1993","eys_1994",\
                                        "eys_1995","eys_1996","eys_1997","eys_1998","eys_1999","eys_2000","eys_2001","eys_2002","eys_2003",\
                                        "eys_2004","eys_2005","eys_2006","eys_2007","eys_2008","eys_2009","eys_2010","eys_2011","eys_2012",\
                                        "eys_2013","eys_2014","eys_2015", "eys_2016","eys_2017","eys_2018","eys_2019","eys_2020","eys_2021"
                                        ]]  
expected_school_years_df

,iso3,country,hdicode,region,eys_1990,eys_1991,eys_1992,eys_1993,eys_1994,eys_1995,...,eys_2012,eys_2013,eys_2014,eys_2015,eys_2016,eys_2017,eys_2018,eys_2019,eys_2020,eys_2021
0,AFG,Afghanistan,Low,SA,2.504050,2.806550,3.109050,3.411550,3.714050,4.016550,...,9.577323,9.875836,10.174350,10.180150,10.185950,10.191750,10.197550,10.263844,10.263844,10.263844
1,AGO,Angola,Medium,SSA,3.537480,3.324830,3.302090,3.385870,3.469650,3.553430,...,10.082500,10.604900,11.127300,11.649700,12.172090,12.172100,12.172100,12.172100,12.172100,12.172100
2,ALB,Albania,High,ECA,11.602930,11.763580,10.663780,10.126500,10.091150,10.166170,...,14.586650,14.925640,15.252420,15.076300,14.804600,14.816130,14.695620,14.818920,14.448000,14.448000
3,AND,Andorra,Very High,NaN,10.798780,10.798780,10.798780,10.798780,10.798780,10.798780,...,13.524016,13.138841,13.495076,13.140280,13.300239,13.046476,13.300239,13.300239,13.300239,13.300239
4,ARE,United Arab Emirates,Very High,AS,10.474560,10.822390,10.659380,10.687660,10.806515,10.925369,...,12.945893,13.064747,13.183602,13.302456,13.421310,14.344100,15.019120,15.694140,15.717690,15.717690
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
201,ZZG.ECA,Europe and Central Asia,NaN,NaN,10.958489,10.960557,10.870528,10.807529,10.747861,10.822459,...,13.711788,14.471022,14.684491,14.864545,15.053858,15.215847,15.325361,15.448650,15.455550,15.446546
202,ZZH.LAC,Latin America and the Caribbean,NaN,NaN,11.147010,11.253165,11.377612,11.451462,11.576074,11.746555,...,13.809491,14.350104,14.432253,14.482245,14.628358,14.654710,14.754893,14.777329,14.770758,14.767956
203,ZZI.SA,South Asia,NaN,NaN,7.542508,7.600759,7.654745,7.700780,7.748634,7.800681,...,10.919139,10.963109,11.256614,11.380238,11.731247,11.616882,11.455094,11.279929,11.568208,11.562208
204,ZZJ.SSA,Sub-Saharan Africa,NaN,NaN,5.916605,6.020889,6.074678,6.179582,6.267790,6.440755,...,9.546207,9.690278,9.793646,9.894703,9.981369,10.038363,10.132258,10.253713,10.272845,10.267338
205,ZZK.WORLD,World,NaN,NaN,9.233550,9.277092,9.335321,9.396531,9.456900,9.549089,...,12.106047,12.258803,12.419588,12.526893,12.690418,12.708571,12.712662,12.731804,12.798925,12.780907

In [16]:
# Extract the columns we are interested in analyzing for the mean number of school years table
                                                      
mean_school_years_df = HDI_df.loc[:,['iso3', 'country', 'hdicode', 'region',"mys_1990","mys_1991","mys_1992","mys_1993","mys_1994",\
                                        "mys_1995","mys_1996","mys_1997","mys_1998","mys_1999","mys_2000","mys_2001","mys_2002","mys_2003",\
                                        "mys_2004","mys_2005","mys_2006","mys_2007","mys_2008","mys_2009","mys_2010","mys_2011","mys_2012",\
                                        "mys_2013","mys_2014","mys_2015", "mys_2016","mys_2017","mys_2018","mys_2019","mys_2020","mys_2021"
                                        ]] 
mean_school_years_df

,iso3,country,hdicode,region,mys_1990,mys_1991,mys_1992,mys_1993,mys_1994,mys_1995,...,mys_2012,mys_2013,mys_2014,mys_2015,mys_2016,mys_2017,mys_2018,mys_2019,mys_2020,mys_2021
0,AFG,Afghanistan,Low,SA,0.971125,1.019356,1.067586,1.115817,1.164047,1.212277,...,2.209473,2.261614,2.313755,2.365896,2.463660,2.561425,2.659189,2.756953,2.854718,2.985070
1,AGO,Angola,Medium,SSA,NaN,NaN,NaN,NaN,NaN,NaN,...,3.909642,3.950166,3.990690,4.704040,5.417391,5.417391,5.417391,5.417391,5.417391,5.417391
2,ALB,Albania,High,ECA,7.354632,7.352754,7.350875,7.348996,7.347118,7.345239,...,10.025110,10.196281,10.370374,10.547439,10.727528,10.910692,11.096983,11.286455,11.286455,11.286455
3,AND,Andorra,Very High,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.587085,10.616062,10.645040,10.573280,10.556100,10.555773,10.555446,10.555120,10.555120,10.555120
4,ARE,United Arab Emirates,Very High,AS,5.759906,6.058644,6.357381,6.656119,6.954857,7.253594,...,10.169965,10.338129,10.506293,10.674456,10.842620,12.055400,12.484000,12.694030,12.694030,12.694030
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
201,ZZG.ECA,Europe and Central Asia,NaN,NaN,7.399040,7.514404,7.628352,7.733759,7.834135,8.204226,...,10.012632,10.075952,10.147717,10.209872,10.312125,10.383680,10.464875,10.558592,10.560785,10.553922
202,ZZH.LAC,Latin America and the Caribbean,NaN,NaN,5.493580,5.593237,5.695865,5.798324,5.899382,6.002211,...,8.107920,8.175572,8.277193,8.392843,8.563354,8.686376,8.823468,8.961853,9.002488,8.997700
203,ZZI.SA,South Asia,NaN,NaN,2.978061,3.091995,3.202475,3.309018,3.415506,3.524850,...,5.679543,5.860110,6.072120,6.322118,6.416901,6.509208,6.575295,6.643786,6.713272,6.710321
204,ZZJ.SSA,Sub-Saharan Africa,NaN,NaN,3.711535,3.853910,3.992713,4.131609,4.276709,4.417490,...,5.120678,5.232873,5.330749,5.458183,5.593757,5.703195,5.871269,6.022655,6.013024,6.001639
205,ZZK.WORLD,World,NaN,NaN,5.886510,6.001997,6.118516,6.233632,6.347721,6.473641,...,7.981302,8.069451,8.166999,8.278372,8.360727,8.439513,8.520606,8.612013,8.635057,8.617461

In [18]:
# Extract the columns we are interested in analyzing for the Gross National Income (Per Capita) table                        
                               
GNI_df = HDI_df.loc[:,['iso3', 'country', 'hdicode', 'region',"gnipc_1990","gnipc_1991","gnipc_1992","gnipc_1993","gnipc_1994",\
                                        "gnipc_1995","gnipc_1996","gnipc_1997","gnipc_1998","gnipc_1999","gnipc_2000","gnipc_2001","gnipc_2002",\
                                        "gnipc_2003", "gnipc_2004","gnipc_2005","gnipc_2006","gnipc_2007","gnipc_2008","gnipc_2009",\
                                        "gnipc_2010","gnipc_2011","gnipc_2012", "gnipc_2013","gnipc_2014","gnipc_2015", "gnipc_2016",\
                                        "gnipc_2017","gnipc_2018","gnipc_2019","gnipc_2020","gnipc_2021"
                                        ]]  
GNI_df

,iso3,country,hdicode,region,gnipc_1990,gnipc_1991,gnipc_1992,gnipc_1993,gnipc_1994,gnipc_1995,...,gnipc_2012,gnipc_2013,gnipc_2014,gnipc_2015,gnipc_2016,gnipc_2017,gnipc_2018,gnipc_2019,gnipc_2020,gnipc_2021
0,AFG,Afghanistan,Low,SA,2684.550019,2276.289409,2059.868084,1525.533426,1087.961890,1339.087122,...,2125.862821,2193.553936,2178.507021,2101.589319,2077.566899,2085.487571,2054.939895,2097.889450,1997.852149,1824.190915
1,AGO,Angola,Medium,SSA,4845.706901,5405.349257,2073.902390,2034.215197,1557.198363,3411.906930,...,7280.845666,7478.104777,7704.231949,7652.656486,7189.426672,6861.575738,6381.521946,6082.746624,5593.142060,5465.617791
2,ALB,Albania,High,ECA,4742.215529,3358.087827,3080.746654,3538.885493,3940.312045,4583.051036,...,11146.263030,11552.982470,11691.648290,12016.297600,12484.624200,12802.148310,13302.705960,13485.311240,12996.762910,14131.110390
3,AND,Andorra,Very High,NaN,43773.146500,43175.147600,41935.787200,40085.315890,39923.545880,40270.767900,...,47126.814610,46385.095200,48483.720320,49936.874540,52267.738320,52650.225760,53483.306630,54465.047400,47878.666640,51166.626610
4,ARE,United Arab Emirates,Very High,AS,102433.136000,96250.290360,93043.477370,92505.331100,96784.426940,101303.275800,...,57445.954750,60005.695360,62573.505310,65577.512240,66881.329740,67667.508460,67195.095230,68590.900940,63016.401220,62573.591810
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
201,ZZG.ECA,Europe and Central Asia,NaN,NaN,11856.971520,11036.423920,10187.426900,9603.650457,8346.075282,8094.374539,...,15161.409430,15938.934860,16281.686290,16663.665280,16729.093930,17400.712950,17861.288800,18027.109590,18031.677820,19351.837020
202,ZZH.LAC,Latin America and the Caribbean,NaN,NaN,10312.280630,10549.177410,10697.908610,10931.341040,11212.200320,11172.711870,...,15182.341940,15491.849890,15516.666970,15441.823600,15116.509200,15126.067180,15057.394300,14895.531640,13727.003200,14520.661240
203,ZZI.SA,South Asia,NaN,NaN,2225.209424,2262.494757,2329.408533,2357.586432,2406.013306,2505.024757,...,4741.289840,4923.642694,5183.331005,5449.187212,5789.022974,6116.711799,6355.589677,6471.972919,6077.350961,6481.393135
204,ZZJ.SSA,Sub-Saharan Africa,NaN,NaN,2878.044092,2824.023778,2648.992129,2570.493491,2523.854657,2584.196036,...,3551.647275,3639.137221,3763.856396,3803.834306,3772.922733,3754.362823,3755.151307,3778.105787,3629.618138,3698.868914
205,ZZK.WORLD,World,NaN,NaN,9628.787491,9577.520238,9566.035153,9569.747374,9670.827056,9823.895808,...,14356.941280,14627.803080,14985.568050,15326.548030,15614.118750,16022.410060,16372.224530,16652.533510,15963.888970,16752.082920

In [39]:
# Extract the columns we are interested in analyzing for the IHDI table for year 2021 only

                               
IHDI_df = HDI_df.loc[:,['iso3', 'country', 'hdicode', 'region','coef_ineq_2021','loss_2021','ineq_le_2021','ineq_edu_2021','ineq_inc_2021'
                                        ]]  

IHDI_Renamed_df = IHDI_df.rename(columns= {"iso3": "id", "hdicode": "HDI Code", "coef_ineq_2021": "Coefficient of Human Inequality",
                    'loss_2021':'Overall loss (%)','ineq_le_2021': 'Inequality in life expectancy','ineq_edu_2021': 'Inequality in eduation',
                    'ineq_inc_2021':'Inequality in income'
                                     })

IHDI_Renamed_df

,id,country,HDI Code,region,Coefficient of Human Inequality,Overall loss (%),Inequality in life expectancy,Inequality in eduation,Inequality in income
0,AFG,Afghanistan,Low,SA,NaN,NaN,26.165367,45.365170,NaN
1,AGO,Angola,Medium,SSA,30.412168,30.546075,28.187733,34.171440,28.877330
2,ALB,Albania,High,ECA,10.767685,10.804020,6.790635,12.333440,13.178980
3,AND,Andorra,Very High,NaN,NaN,NaN,5.297910,10.008154,NaN
4,ARE,United Arab Emirates,Very High,AS,NaN,NaN,4.524926,12.634355,NaN
...,...,...,...,...,...,...,...,...,...
201,ZZG.ECA,Europe and Central Asia,NaN,NaN,10.277559,10.301508,7.317009,6.966866,16.548802
202,ZZH.LAC,Latin America and the Caribbean,NaN,NaN,19.608799,20.291777,10.093223,14.802601,33.930573
203,ZZI.SA,South Asia,NaN,NaN,24.251594,24.683544,17.637374,36.242215,18.875191
204,ZZJ.SSA,Sub-Saharan Africa,NaN,NaN,29.903424,29.981718,28.309306,34.266790,27.134176
205,ZZK.WORLD,World,NaN,NaN,19.358854,19.398907,13.182837,21.693417,23.200307

In [40]:
# Extract the columns we are interested in analyzing for the GII table for 2021 only   

GII_df = HDI_df.loc[:,['iso3', 'country', 'hdicode', 'region', 'gii_rank_2021', 'gii_2021', 'mmr_2021', 'abr_2021',\
                    'se_f_2021', 'se_m_2021', 'pr_f_2021','pr_m_2021','lfpr_f_2021','lfpr_m_2021'
                                        ]]  

GII_Renamed_df= GII_df.rename(columns= {'iso3': "id", 'hdicode': 'HDI Code', 'gii_rank_2021': "GII Rank", 'gii_2021': 'Gender Inequality Index',
                                        'mmr_2021': 'Maternal Mortality Ratio (deaths per 100,000 live births)',
                                        'abr_2021': 'Adolescent Birth Rate (births per 1,000 women ages 15-19)',
                                        'se_f_2021': 'Population with at least some secondary education, female (% ages 25 and older)',
                                        'se_m_2021': 'Population with at least some secondary education, male (% ages 25 and older)',
                                        'pr_f_2021': 'Share of seats in parliament, female (% held by women)',
                                        'pr_m_2021': 'Share of seats in parliament, male (% held by men)',
                                        'lfpr_f_2021': 'Labour force participation rate, female (% ages 15 and older)',
                                        'lfpr_m_2021': 'Labour force participation rate, male (% ages 15 and older'})

GII_Renamed_df

,id,country,HDI Code,region,GII Rank,Gender Inequality Index,"Maternal Mortality Ratio (deaths per 100,000 live births)","Adolescent Birth Rate (births per 1,000 women ages 15-19)","Population with at least some secondary education, female (% ages 25 and older)","Population with at least some secondary education, male (% ages 25 and older)","Share of seats in parliament, female (% held by women)","Share of seats in parliament, male (% held by men)","Labour force participation rate, female (% ages 15 and older)","Labour force participation rate, male (% ages 15 and older"
0,AFG,Afghanistan,Low,SA,167.0,0.678,638.000000,82.565000,6.395730,14.865710,27.215190,72.784810,14.848000,66.515000
1,AGO,Angola,Medium,SSA,136.0,0.537,241.000000,138.402000,28.163900,51.546170,29.545455,70.454545,73.968000,79.071000
2,ALB,Albania,High,ECA,39.0,0.144,15.000000,14.517000,95.387505,93.038415,35.714286,64.285714,50.733000,66.154000
3,AND,Andorra,Very High,NaN,NaN,NaN,NaN,5.887000,70.665854,72.422097,46.428571,53.571429,NaN,NaN
4,ARE,United Arab Emirates,Very High,AS,11.0,0.049,3.000000,3.085000,81.997002,85.596741,50.000000,50.000000,46.542000,88.003000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
201,ZZG.ECA,Europe and Central Asia,NaN,NaN,NaN,0.227,20.275766,20.131623,83.352395,89.748839,26.070039,73.929961,42.926377,67.038752
202,ZZH.LAC,Latin America and the Caribbean,NaN,NaN,NaN,0.381,75.030838,53.389333,63.160863,63.171381,33.200637,66.799363,48.630181,72.656571
203,ZZI.SA,South Asia,NaN,NaN,NaN,0.508,153.268313,28.937075,42.188378,52.817241,17.577855,82.422145,21.594128,71.585599
204,ZZJ.SSA,Sub-Saharan Africa,NaN,NaN,NaN,0.569,535.658813,100.877877,31.147249,44.269573,25.715752,74.284248,62.144428,72.253662
205,ZZK.WORLD,World,NaN,NaN,NaN,0.465,225.406503,42.529066,64.154258,70.316516,25.913372,74.086628,46.200447,71.691740